/* Custom Scrollbar for Signup Form */
.customsignup::-webkit-scrollbar {
  width: 6px;               /* Scrollbar width */
}

.customsignup::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);  /* Light transparent track */
  border-radius: 10px;
}

.customsignup::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b1b1c6, #4338ca); /* Indigo gradient */
  border-radius: 10px;
}

.customsignup::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4f46e5, #312e81);
}